<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
</head>
<body>
<h4>Edit</h4>

<form action="/admin/edit" method="POST">
    <p><input type="hidden" name="id" th:value="${user.id}"></p>
    <label for="name" >name</label>
    <input type="text" name="name" id="name" th:value="${user.name}">
    <label for="email">email</label>
    <input type="text" name="email" id="email" th:value="${user.email}">
    <label for="password">password</label>
    <input type="text" name="password" id="password">
    <p><select size="3" name="role" multiple>
        <option disabled>Select a role</option>
        <option value="ADMIN">ADMIN</option>
        <option selected value="USER">USER</option>
    </select></p>
    <p><input type="submit" value="Edit user"></p>
</form>
</body>
</html>
